  <h1>Edit Kid</h1> 

  <form action="/kids/edit" method="POST">
  
  <input type="hidden" name="id" value="<%= @kid.id %>">

  <br></br>

    <label>Child's Name:</label>

      <br></br>

    <input id="name" type="text" name="name" placeholder="<%= @kid.name%>">

      <br></br>


  <label>Pick a Parent</label>

  <select name="parent">
  <%@parents = Parent.all%>
  <%@parents.each do |parent|%>
   <% if parent.name == @kid.parent.name %>
      <option value="<%= parent.name %>" selected><%=parent.name%></option>
   <% else %>
      <option value="<%= parent.name %>"><%=parent.name%></option>
   <% end %>
  <%end%>
</select>
<p>The current parent is: <%= @kid.parent.name %></p>
<br></br>
    <input id="Create" type="submit" value="Edit Kid">
</form>