<h1>Welcome to Playd8!</h1>
<h3>The premier web destination for arranging playdates with old and new friends!</h3>

<ul>
<li><a href=<%="/parents"%>>Current Parents</a></li>
<li><a href=<%="/kids"%>>Current Kids</a></li>
<li><a href=<%="/playdates"%>>Current Playdates</a></li>
<li><a href=<%="/parents/new"%>>Create a New Parent</a></li>
<li><a href=<%="/kids/new"%>>Add a Kid</a></li>
<li><a href=<%="/playdates/new"%>>Make a Playdate</a></li>